.header{
    background-color: #FFF159;
    font-size: 14px;
}
.nav{
    padding: 0px 70px;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.input input{
    width: 350px;
    padding: 6px 20px;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 3px;
}
.input img{
    position: relative;
    top: 7px;
    left: -34px;
}
.logo-img  img {
    width: 150px;
    height: 70px;
}
.flex{
    display: flex;
    gap: 10px;
}
.img-ul{
    width: 13px;
    height: 13px;
    position:relative;
    top: 3px;
}
.flex-div{
    display: flex;
    gap: 10px;
}