<div class="header">
    <nav class="nav">
        <ul class="ul">
            <li class="logo-img">
                <a routerLink="/">
                    INICIO
                </a>
            </li>
            <li class="input">
                <input type="text" placeholder="Buscar" />
                <img src="assets/img/lupa.png" alt="">
            </li>
            <li>
                <p>* ¡Envío Express <b>en menos de 2 horas!</b></p>
            </li>
        </ul>
        <ul class="ul" style="padding-bottom: 10px;">
            <li>
                <div class="flex">
                    <p>Categorías</p>
                    <img class="img-ul" src="assets/img/flecha.png" alt="">
                </div>
            </li>
            <li class="flex-div">
                <p>Historial</p>
                <p>Tiendas online</p>
                <p>Ofertas de la semana</p>
                <p>Vender</p>
                <p>Ayuda</p>
            </li>
            <li style="display: flex; align-items: center;">
                <div class="flex-div">
                    <img style="width: 20px;height: 20px;" src="assets/img/usuario.png" alt="">
                    <p>Rohyller</p>
                    <img class="img-ul" src="assets/img/flecha.png" alt="" />
                </div>
                <div class="flex-div" style="padding-right: 20px;padding-left: 10px;">
                    <p>Mis compras</p>
                </div>
                <div class="flex-div">
                    <p>Favoritos</p>
                    <img class="img-ul" src="assets/img/flecha.png" alt="" />
                </div>
                <img style="width: 20px; height: 20px;margin-left: 10px;" src="assets/img/campana.png" alt="">
            </li>
        </ul>
    </nav>
</div>