<app-header></app-header>
<main>
    <div class="p-div">
        <p>También puede interesarte - canaima - antminer s9 - laptop canaima - canaima letras rojas</p>
    </div>
    <div class="p-div flex">
        <div>
            <p class="span-blue">Volver al listado | Computación > Accesorios para PC Gaming > Audifonos</p>
        </div>
        <div>
            <p>Compartir | Vender uno igual</p>
        </div>
    </div>
    <div class="OBJETO-div flex">
        <div class="img-ocult">
            <div class="obj-img">
                <img src={{product.imagenUrl}} alt="" />
            </div>
            <div class="obj-img">
                <img src={{product.imagenUrl}} alt="" />
            </div>
            <div class="obj-img">
                <img src={{product.imagenUrl}} alt="" />
            </div>
        </div>
        <div class="img-completa">
            <img src={{product.imagenUrl}} alt="" />
        </div>
        <div class="spacio">
            <div>
                <span>Nuevo | 202 vendidos</span>
            </div>
            <div>
                <span>{{ product.nombre }}</span>
            </div>
            <div>
                ★★★★★ 9 opiniones
            </div>
            <div>
                <p>U$S{{ product.precio }}</p>
                <p>Bs.{{ product.precioBs }}</p>
                <p style="color: rgb(0, 38, 255)">Ver los medios de pago</p>
            </div>
            <div>
               <p>{{ product.tipoEnvio}}</p>
               <p>Barquisimeto, Lara</p>
               <p>Ver costos de envio</p>
            </div>
            <div>
                <p>Color: Negro</p>
            </div>
            <div>
                <p>Cantidad: 1 unidad > (8 disponibles)</p>
            </div>
            <div>
                <button>Comprar ahora</button>
            </div>
        </div>
    </div>
</main>